//
//  Staging.xcconfig
//  MyBuddyDemo
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
ENV_NAME = staging

// app name
PRODUCT_NAME = Buddy $(ENV_NAME)
// bundle id
PRODUCT_BUNDLE_IDENTIFIER = com.example.MyBuddyDemo.$(ENV_NAME)
// app version
MARKETING_VERSION = 1.0.0
// build number
CURRENT_PROJECT_VERSION = 1
// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_Staging

GOOGLE_PLIST = GoogleService-Info-staging.plist
